
@font-face {
    font-family: 'Kremlin';
    src: url('../fonts/Kremlin.ttf') format('truetype');
}

h1 {
    font-size: 20px;
    font-family: 'Kremlin', sans-serif;
    color: black;
    text-align: center;
}

canvas {
    border: 2px solid black; 
    display: block;
    margin: 0 auto;
    background-color: #f5edf5;
   
}

p {
    font-size: 14px; 
    font-family:  sans-serif;
    color: black;
    text-align: center;
    margin-top: 10px; 
}

#puntos {
    font-size: 14px; 
    font-family: 'Kremlin', sans-serif;
    color: black;
    text-align: center;
    margin-top: 10px; 
}

#nivel {
    font-size: 14px; 
    font-family: 'Kremlin', sans-serif;
    color: black;
    text-align: center;
    margin-top: 10px; 
}

#lineas {
    font-size: 14px; 
    font-family: 'Kremlin', sans-serif;
    color: black;
    text-align: center;
    margin-top: 10px; 
}

